# Customer Retention Metrics 

Customer retention measurement refers to the steps taken to uncover and document how well a business is retaining customers.Organizations track success in this area to see how well they are meeting customer needs and if they are continuing to earn their business over time. 

Here in this section we will look at some of the customer retention metrics applicable to retaining their customers from previous campaigns and we will compare between them.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
from __future__ import division
from sklearn.cluster import KMeans
# import libraries
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import warnings

warnings.filterwarnings("ignore")

In [3]:
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/output/segmentation_data.csv")

In [4]:
data.head()

         id  customer_age  ... SpendingCluster OverallScore
0  id_43823          28.0  ...               0            1
1  id_34750          29.0  ...               0            1
2  id_36237          18.0  ...               0            1
3  id_15826          31.0  ...               0            1
4   id_9411          34.0  ...               0            1

[5 rows x 23 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                45211 non-null  object
 1   customer_age                      45211 non-null  float64
 2   job_type                          45211 non-null  object
 3   marital                           45211 non-null  object
 4   education                         45211 non-null  object
 5   default                           45211 non-null  object
 6   balance                           45211 non-null  float64
 7   housing_loan                      45211 non-null  object
 8   personal_loan                     45211 non-null  object
 9   communication_type                45211 non-null  object
 10  day_of_month                      45211 non-null  int64
 11  month                             45211 non-null  object
 12  last_contact_duration             45211 non-null  float64
 13  num_contacts_in_campaign          45211 non-null  float64
 14  days_since_prev_campaign_contact  45211 non-null  float64
 15  num_contacts_prev_campaign        45211 non-null  int64
 16  prev_campaign_outcome             45211 non-null  object
 17  term_deposit_subscribed           45211 non-null  int64
 18  spending_score                    45211 non-null  int64
 19  BalanceCluster                    45211 non-null  int64
 20  AgeCluster                        45211 non-null  int64
 21  SpendingCluster                   45211 non-null  int64
 22  OverallScore                      45211 non-null  int64
dtypes: float64(5), int64(8), object(10)
memory usage: 7.9+ MB


# Customer Churn and Retention Rate Between Two Campaigns 
Perhaps the most straightforward of customer retention metrics, your company's customer churn rate refers to the rate at which customers stop doing business with you. Whether the customer has ended or opted out of renewing a subscription, a churned customer is a customer that your business unsuccessfully retained.

Retention rate is the ratio of customers that return to do business at your company. This differs from churn rate because churn rate refers to the number of customers you've lost over a period of time. A company with a high churn rate would by default, have a lower retention rate. 

> **Customer Retention Rate** =  Total Customers from Campaign Subscribed / Total Customers Sent Communication

> **Customer Churn Rate** = 1 - Customer Retention Rate

In [6]:
previous_campaign = data['prev_campaign_outcome'].value_counts()
previous_campaign

unknown    36959
failure     4901
other       1840
success     1511
Name: prev_campaign_outcome, dtype: int64

In [7]:
total_count = data['prev_campaign_outcome'].count()
total_count

45211

In [8]:
current_campaign = data['term_deposit_subscribed'].value_counts()
current_campaign

0    41392
1     3819
Name: term_deposit_subscribed, dtype: int64

In [9]:
Retention_prev_camp = previous_campaign['success']*1.0/total_count
Retention_prev_camp

0.0334210700935613

In [10]:
Retention_cur_camp = current_campaign[1]*1.0/total_count
Retention_cur_camp

0.08447059343964965


# **Loyal Customer Rate**
Loyal customer rate simply refers to the number of customers who have made a repeat subscription between campaigns. Since your most loyal customers subscribe from you the most, this metric identifies the percentage of your customer base that's demonstrated loyalty to your business. 

It's important to know how many loyal customers you have because these people are the most valuable members of your customer base. That's because they not only drive the most sales, but they're also the most likely to share positive word-of-mouth about your business. By knowing who these loyal customers are, you can capitalize on opportunities to gather testimonials and encourage customer advocacy. 

> **Loyal Customer Rate = Number of Repeat Customers / Total Customers**

In [11]:
data.term_deposit_subscribed = data.term_deposit_subscribed.replace([0],'failure')
data.term_deposit_subscribed = data.term_deposit_subscribed.replace([1],'success')
data.groupby('term_deposit_subscribed').describe()

                        customer_age                        ... OverallScore
                               count       mean        std  ...          50%  75%  max
term_deposit_subscribed                                     ...
failure                      41392.0  39.533219  11.732278  ...          3.0  3.0  7.0
success                       3819.0  40.884263  14.866358  ...          3.0  3.0  7.0

[2 rows x 96 columns]

In [12]:
c=0
prev = data['prev_campaign_outcome']
cur = data['term_deposit_subscribed']
for x,y in zip(prev, cur):
  if(x==y):
    c+=1

In [13]:
new_customers = ((previous_campaign['success'] + current_campaign[0] - c)*1.0)/total_count
new_customers

0.8248877485567672

In [14]:
loyal_customers = 1 - ((previous_campaign['success'] + current_campaign[0] - c)*1.0)/total_count
loyal_customers

0.17511225144323284