In [1]:
# import libraries
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing # data normalization

import warnings
warnings.filterwarnings("ignore")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/Train.csv")
data= data.fillna(0)
data.head(10)

         id  customer_age  ... prev_campaign_outcome term_deposit_subscribed
0  id_43823          28.0  ...               unknown                       0
1  id_32289          34.0  ...                 other                       0
2  id_10523          46.0  ...               unknown                       0
3  id_43951          34.0  ...               unknown                       0
4  id_40992          41.0  ...               unknown                       0
5  id_12681          65.0  ...               unknown                       1
6  id_41178          57.0  ...               unknown                       1
7  id_35102          37.0  ...               unknown                       0
8  id_34750          29.0  ...               unknown                       0
9   id_1406          50.0  ...               unknown                       0

[10 rows x 18 columns]

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                31647 non-null  object
 1   customer_age                      31647 non-null  float64
 2   job_type                          31647 non-null  object
 3   marital                           31647 non-null  object
 4   education                         31647 non-null  object
 5   default                           31647 non-null  object
 6   balance                           31647 non-null  float64
 7   housing_loan                      31647 non-null  object
 8   personal_loan                     31647 non-null  object
 9   communication_type                31647 non-null  object
 10  day_of_month                      31647 non-null  int64
 11  month                             31647 non-null  object
 12  last_contact_duration             31647 non-null  float64
 13  num_contacts_in_campaign          31647 non-null  float64
 14  days_since_prev_campaign_contact  31647 non-null  float64
 15  num_contacts_prev_campaign        31647 non-null  int64
 16  prev_campaign_outcome             31647 non-null  object
 17  term_deposit_subscribed           31647 non-null  int64
 18  spending_score                    31647 non-null  int64
dtypes: float64(5), int64(4), object(10)
memory usage: 4.6+ MB

In [4]:
data.marital = data.marital.replace(0,'unknown')
data.marital.unique()

array(['single', 'married', 'divorced', 'unknown'], dtype=object)

In [5]:
data.personal_loan = data.personal_loan.replace(0,'unknown')
data.personal_loan.unique()

array(['no', 'yes', 'unknown'], dtype=object)

In [6]:
data.communication_type=data.communication_type.replace('unknown','email')
data.head()

         id  customer_age  ... prev_campaign_outcome term_deposit_subscribed
0  id_43823          28.0  ...               unknown                       0
1  id_32289          34.0  ...                 other                       0
2  id_10523          46.0  ...               unknown                       0
3  id_43951          34.0  ...               unknown                       0
4  id_40992          41.0  ...               unknown                       0

[5 rows x 18 columns]

In [7]:
data['spending_score'] = np.random.random_integers(7,99,data.shape[0])

In [8]:
data.shape

(31647, 19)

In [37]:
data.isna().sum()

id                                  0
customer_age                        0
job_type                            0
marital                             0
education                           0
default                             0
balance                             0
housing_loan                        0
personal_loan                       0
communication_type                  0
day_of_month                        0
month                               0
last_contact_duration               0
num_contacts_in_campaign            0
days_since_prev_campaign_contact    0
num_contacts_prev_campaign          0
prev_campaign_outcome               0
term_deposit_subscribed             0
spending_score                      0
dtype: int64

In [16]:
data.to_csv("/content/drive/MyDrive/Colab Notebooks/dataset/output/data.csv",index=False)

In [27]:
test_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/Test.csv")
test_data.fillna(0)
test_data.head(10)

         id  customer_age  ... num_contacts_prev_campaign prev_campaign_outcome
0  id_17231          55.0  ...                          0               unknown
1  id_34508          24.0  ...                          0               unknown
2  id_44504          46.0  ...                          0               unknown
3    id_174          56.0  ...                          0               unknown
4   id_2115          62.0  ...                          1               success
5  id_20153          35.0  ...                          0               unknown
6  id_20552          27.0  ...                          0               unknown
7  id_26080          29.0  ...                          0               unknown
8  id_45165          50.0  ...                          0               unknown
9  id_28373          37.0  ...                          0               unknown

[10 rows x 17 columns]

In [44]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13564 entries, 0 to 13563
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                13564 non-null  object
 1   customer_age                      13564 non-null  float64
 2   job_type                          13564 non-null  object
 3   marital                           13564 non-null  object
 4   education                         13564 non-null  object
 5   default                           13564 non-null  object
 6   balance                           13564 non-null  float64
 7   housing_loan                      13564 non-null  object
 8   personal_loan                     13564 non-null  object
 9   communication_type                13564 non-null  object
 10  day_of_month                      13564 non-null  int64
 11  month                             13564 non-null  object
 12  last_contact_duration             13564 non-null  float64
 13  num_contacts_in_campaign          13564 non-null  float64
 14  days_since_prev_campaign_contact  13564 non-null  float64
 15  num_contacts_prev_campaign        13564 non-null  int64
 16  prev_campaign_outcome             13564 non-null  object
dtypes: float64(5), int64(2), object(10)
memory usage: 1.8+ MB

In [32]:
test_data['marital'] = test_data['marital'].replace(np.nan, 'unknown')
test_data.marital.unique()

array(['married', 'single', 'divorced', 'unknown'], dtype=object)

In [34]:
test_data.personal_loan = test_data.personal_loan.replace(np.nan,'unknown')
test_data.personal_loan.unique()

array(['no', 'yes', 'unknown'], dtype=object)

In [53]:
test_data.communication_type.unique()

array(['cellular', 'email', 'telephone'], dtype=object)

In [51]:
test_data.communication_type= test_data.communication_type.replace('unknown','email')
test_data.head()

         id  customer_age  ... prev_campaign_outcome spending_score
0  id_17231          55.0  ...               unknown             87
1  id_34508          24.0  ...               unknown             24
2  id_44504          46.0  ...               unknown             73
3    id_174          56.0  ...               unknown             33
4   id_2115          62.0  ...               success             98

[5 rows x 18 columns]

In [46]:
test_data['spending_score'] = np.random.random_integers(7, 99, test_data.shape[0])

In [40]:
def myfillna(series):
    if series.dtype is pd.np.dtype(float):
        return series.fillna(0)
    elif series.dtype is pd.np.dtype(object):
        return series.fillna('.')
    else:
        return series

test_data = test_data.apply(myfillna)

In [41]:
test_data.isna().sum()

id                                  0
customer_age                        0
job_type                            0
marital                             0
education                           0
default                             0
balance                             0
housing_loan                        0
personal_loan                       0
communication_type                  0
day_of_month                        0
month                               0
last_contact_duration               0
num_contacts_in_campaign            0
days_since_prev_campaign_contact    0
num_contacts_prev_campaign          0
prev_campaign_outcome               0
dtype: int64

In [49]:
test_data.shape

(13564, 18)

In [54]:
test_data.to_csv("/content/drive/MyDrive/Colab Notebooks/dataset/output/test_data.csv",index=False)